<div class="card-group">
  {{#each product}}
  <div class="card" id="card{{this.id}}">
    <img src="/img/{{this.name}}.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.category.name}}</p>
    </div>
    <button type="button" value="{{this.id}}" onclick="deleteProduct(this)" class="btn btn-danger">Съесть</button>
  </div>
  {{/each}}

</div>
